*.class

/jp.co.future.eclipse.usqlfmt/bin
**/.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/jp.co.future.eclipse.usqlfmt/**/*.jar
/jp.co.future.eclipse.usqlfmt.update/**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
